
<hibernate-configuration>
	<session-factory>
		<!-- JDBC Database connection settings -->
		<property name="hibernate.connection.driver_class">org.h2.Driver</property>
		<property name="hibernate.connection.url">jdbc:h2:file:D:/FULL_STACK_JAVA_BATCH/NI_FSD03/INMEMORY/productdb;NON_KEYWORDS=USER</property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.connection.password"></property>

		<!-- Specify dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>

		<!-- Disable the second-level cache -->
		<property name="hibernate.cache.use_second_level_cache">false</property>

		<!-- Show SQL statements in the console -->
		<property name="hibernate.show_sql">true</property>

		<!-- Drop and re-create the database schema on startup -->
		<property name="hibernate.hbm2ddl.auto">update</property>

		<!-- Specify annotated classes -->
		<mapping resource="user.hbm.xml" />
	</session-factory>
</hibernate-configuration>
